.dvsn{
    height:700px;
    
}
main{
    margin-bottom: 0px;
}
#fifth{
    border-bottom-width: 3px;
  border-bottom-style: solid;
  border-image: 
    linear-gradient(
      to bottom, 
      black, 
      #f4f6fa
    ) 1 100%;
}